@charset "utf-8";
/*重定义bootstrap*/
.container-fluid{ padding:0px;min-width:1000px; height:100%; overflow-y:hidden;overflow-x:auto;}

.table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
}
.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
    background-color: #f2f4f7;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}
/* CSS 公用 */
 
a{color:#3e5772;}
a:hover{color:#3e5772;}
.underline{ text-decoration:underline}
.font12,#font12{ font-size:12px;}
.col_f{ color:#fff;}
.pointer{ cursor: pointer;}
input{outline:none} 
input::selection{ background-color:#000;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
html{font-family: "source Han Sans";overflow:hidden;
background: #fff;background-repeat: repeat-x; background-position:center 0px; }
body{ color:#3e5772;  background-color:transparent; background-repeat:no-repeat; background-size:80% auto; background-position:center 100px;
font-family: "Lantinghei SC","Lantinghei SC",Helvetica,"Microsoft YaHei",Arial,sans-serif;}
.clear{ height:0px; clear:both; overflow:hidden;}
.mar_t15{ margin-top:15px;}
.mar_r15{ margin-right:15px;}
.mar_b15{ margin-bottom:15px;}
.mar_l15{ margin-left:15px;}
.mar_t20{ margin-top:20px;}
.mar_r20{ margin-right:20px;}
.mar_b20{ margin-bottom:20px;}
.mar_l20{ margin-left:20px;}

.mar_t30{ margin-top:30px;}
.mar_r30{ margin-right:30px;}
.mar_b30{ margin-bottom:30px;}
.mar_l30{ margin-left:30px;}
.pad_t15{ padding-top:15px;}
.pad_r15{ padding-right:15px;}
.pad_b15{ padding-bottom:15px;}
.pad_l15{ padding-left:15px;}
.pad_t30{ padding-top:30px;}
.pad_r30{ padding-right:30px;}
.pad_b30{ padding-bottom:30px;}
.pad_l30{ padding-left:30px;}
.mar_15{margin:15px;}
.mar_30{margin:30px;}
.pad_15{ padding:15px;} 
.pad_30{ padding:30px;}
.f_l{ float:left;}
.f_r{ float:right;} 
/*分页*/
.pagination{margin: 30px 0px 0px 0px;}
.pagination a,.previous_page,.current{ display:inline-block;border-radius: 3px; color:#28fefc; margin-right:4px;    padding: 4px 12px;  background-color: #111a2b; margin-bottom: 5px;}.pagination a:hover{background-color: #28fefc;   color: #040e20;}.previous_page{color: #666;}.current{ background-color: #28fefc;color: #040e20;}
/*框架*/
#content{ height:100%; overflow:hidden; }
.pc_top{ height:100px;font-size:14px; color:#666666;}
.my_message_have{
  animation: blink .75s linear infinite;  
    /* 其它浏览器兼容性前缀 */
    -webkit-animation: blink .75s linear infinite;
    -moz-animation: blink .75s linear infinite;
    -ms-animation: blink .75s linear infinite;
    -o-animation: blink .75s linear infinite;
}
@keyframes blink{ 
  0%{opacity: 1;}
  50%{opacity: 1;}
  50.01%{opacity: 0;} /* 注意这里定义50.01%立刻透明度为０，可以设置闪烁效果 */
  100%{opacity: 0;} 
}
/* 添加兼容性前缀 */

@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
.pc_menu li a{}
.pc_menu li i{width: 60px; height: 42px; display: inline-block;}
.pc_menu .li1 a i{ background-image: url(../images/nav-01.png); background-size: 100% auto;}
.pc_menu .li2 a i{ background-image: url(../images/nav-02.png); background-size: 100% auto;}
.pc_menu .li3 a i{ background-image: url(../images/nav-03.png); background-size: 100% auto;}
.pc_menu .li4 a i{ background-image: url(../images/nav-04.png); background-size: 100% auto;}
.pc_menu .li1 a.act i{ background-image: url(../images/nav-06.png); background-size: 100% auto;}
.pc_menu .li2 a.act i{ background-image: url(../images/nav-07.png); background-size: 100% auto;}
.pc_menu .li3 a.act i{ background-image: url(../images/nav-08.png); background-size: 100% auto;}
.pc_menu .li4 a.act i{ background-image: url(../images/nav-09.png); background-size: 100% auto;}

.pc_menu .li5 a i{ background-image: url(../images/bb1.png); background-size: 100% auto;}
.pc_menu .li5 a.act i{ background-image: url(../images/bb2.png); background-size: 100% auto;}

.pc_tx{height:56px; width:56px;; margin-left:50px; margin-top:25px; border-radius:30px;float:left; }
.pc_tx:hover{transition:transform 0.5s;transform:rotate(360deg);}
.pc_txr{ margin-left:130px; margin-top:30px; font-size:16px;width: 400px;}
.pc_user{ }
.pc_xx span{ color:#0689ff; margin-left:8px; text-decoration:underline; cursor: pointer;}
.pc_menu{ height:100px; }

.pc_menu li{ width:100px; height:100px; color:#8a9eb2; float:left; margin-left: 50px;}
.pc_menu li a{color:#8a9eb2; display:block; width:100%; height:100%; text-align:center;margin-left: 40px;padding-top: 5px; }
.pc_menu li a:hover{color:#3e5772; border-bottom:3px solid #8a9eb2; }
.pc_menu li i{ font-size:40px; margin-top:8px;}
.pc_menu li i img{ width: 60px;}
.pc_menu li div{ font-size:18px; padding-top:5px; font-weight:600;}
.pc_menu li a.act{color:#3e5772;border-bottom:3px solid #3e5772;}

#poc_tbody tr td a{cursor:pointer;}

 

.pc_nav{height:60px; background-color:#b5bdc9; padding:0px 30px;}
.pc_nav a{ display:inline-block; padding:10px 30px; border-radius:6px 6px 0px 0px; position:relative; top:23px; background-color:#f2f4f7; margin-right:8px; cursor:pointer;}
.pc_nav a.act{background-color:#fff;}
.pc_main{  overflow:hidden; overflow-y:auto;}
.pc_l{ border-right:3px solid #d5dae0; height:100%; padding:0px 10px 0px 20px; position:relative; width:250px;float:left;} 
.pc_r{ padding:0px;  margin-left:270px; margin-right:5px; overflow:hidden; width: auto;text-align: center;height:74%;overflow-y:auto;}
.pc_bottom{height:70px; width:100%; background-color:#b5bdc9; position: fixed; bottom:0px; z-index:99; left:0px;}
 
/*a-but*/
.a_but1{ display:inline-block; padding:5px 20px; background-color:#3e5772; color:#fff; border-radius:26px;}
.a_but1:hover,.a_but1:focus{ background-color:#8a9eb2;color:#fff; }

.a_but2{ display:block; padding:9px 20px; background-color:#3e5772; margin:0px 20px 0px 40px; text-align:center;  color:#fff; border-radius:26px;cursor:pointer}
.a_but2:hover,.a_but2:focus,.a_but2_act{ background-color:#8a9eb2;color:#fff; }

/*#scan_ip{display:inline-block; padding:2px 15px; border: 0px; background-color:#3e5772; color:#fff; border-radius:26px;}*/
#btnal{display:inline-block; padding:6px 25px; border: 0px; background-color:#3e5772; color:#fff; border-radius:3px;}
#Query,#Report,#dialog p.close,#scan_ip2,#dialog2 .close2{display:inline-block; padding:2px 6px; border: 0px; background-color:#3e5772; color:#fff; border-radius:3px;}
#scan_free_query,#scan_free{ height: 25px;}

select {
				-webkit-appearance: none;
				padding: 5px 20px 5px 6px;
				background-image: url(../images/sel_bg.png);
				background-position: right center;
				background-repeat: no-repeat;
				background-size: auto 18%;
				border: 1px solid #8a9eb2;
				color: #3e5772; line-height:100%;
				border-radius: 2px;
				 background-color: #fff;
			}
/*我的*/
.wd_mian{ padding:30px;}
.wd_lert{ background-color:#f2f4f7; padding:10px 18px; font-size:16px; display:inline-block; border-radius:8px; color:#3e5772;}
.pc_nav2{height:60px; background-color:#fff; padding:0px 0px; overflow:hidden;clear: both;}
.pc_nav2 .nav_l{ background-color:#d5dae0; height:60px; width:250px; float:left; }
.pc_search{ border-radius:25px; background-color:#f2f4f7; padding:6px 0px 6px 20px; margin:14px 20px;position:relative;}
.pc_search .pcinput{ color:#8a9eb2; font-size:14px; border:0px; background-color:transparent;}
.pc_search .pcbut{ color:#3e5772; font-size:18px; cursor:pointer; position:absolute;  right:20px;}
.pc_nav2 .nav_r{ background-color:#b5bdc9;height:60px; padding:0px;   margin-left:250px; padding-left:20px; padding-right:20px; }

.pc_l .lbottom{ background-color:#fff; height:430px; position:absolute; bottom:0px; width:100%; right:0px; padding-top:18px;}

.pc_l .lbottom .a_but2{ margin-bottom:15px;}
.pc_l ul{ width:90%; margin:20px auto;}

.pc_l li{ margin-bottom:15px;}
.pc_l li a{ border-radius:3px; background-color:#fff; border:1px solid #b5bdc9; font-size:14px;display:block; padding:6px 14px; position:relative;  cursor:pointer;}
.pc_l li a i{ position:absolute; right:20px; color:#8a9eb2;}
.tabletitle{ margin:0px 20px; margin-top:0px; }
.table{ margin:0px 20px;}
.table td{ border-radius:6px;}
.tabletitle td{ padding:8px; font-weight:600; padding-top:22px;text-align: center;}
.pc_cz i{ font-size:16px; color:#8a9eb2;}
.pc_cz a:hover i{ font-size:16px; color:#3e5772;}
.dj_3{ color:#ff3b61; font-size:10px; margin-left:10px;}
.dj_2{ color:#fc7e17; font-size:10px; margin-left:10px;}
.dj_1{ color:#d8bf2b; font-size:10px; margin-left:10px;}
.zd_1{ color:#1fc160;font-size:14px; margin-left:10px;}
.zd_2{ color:#ce4653;font-size:14px; margin-left:10px;}
.zd_2:before{content: "\f00d";}
.zd_3{ color:#38adfc;font-size:14px; margin-left:10px;}
.zd_3:before{content: "\f251";}

#fullbg,#fullbg2 {background-color: gray;left: 0;opacity: 0.5;position: absolute;top: 0;z-index: 3;filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;}
#dialog p {margin: 0 0 12px;height: 24px;line-height: 24px;/*background:lightgreen;*/}
#dialog p.close,#dialog2 p.close2 {float:right;text-align: right; margin-bottom:0px;padding:0 10px;background:#3e5772;font-size: 12px; display: inline-block;}
#dialog,#dialog2 {background-color: #fff;border: 3px solid rgba(0, 0, 0, 0.4);width: 900px;height: 500px;left: 50%;padding: 5px;box-sizing: border-box;position: fixed !important;/* position: absolute; */top: 50%;z-index: 5;border-radius: 5px;display: none; transform: translate(-50%, -50%);}
#alert-11 {margin-top: 10px;}
#alert-1 {height: 200px;overflow-y: auto；}
#fofa_search-title {display: flex;justify-content: space-around;}
#fofa_search{height: 210px;overflow-y: auto;}
#fofa_search span {overflow: hidden;text-align: left;line-height: 15px;white-space: nowrap;text-overflow: ellipsis;font-size: 10px;width: 133px;border-right: 1px solid;margin-left: 5px;height: 15px;border-bottom: 1px solid #ccc;display: inline-block;}
#fofaloading{width:35px;margin: 0 auto;display: block;display: none;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
#fofa_searchContent{margin:50px auto;width: 202px;height: 100px;}
#Reportloading{width: 18px;display: none;}
.dialog2txt{ word-wrap:break-word; width:100%; margin-top: 30px; height: 210px; overflow: hidden; overflow-y: scroll;}
.close,.close_exp {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
        text-shadow: none;
    /* text-shadow: 0 1px 0 #fff; */
    opacity: 1;}

#fullbg_scan {background-color: gray;left: 0;opacity: 0.5;position: absolute;top: 0;z-index: 3;filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;}
#dialog_scan p {margin: 0 0 12px;height: 24px;line-height: 24px;/*background:lightgreen;*/}
#dialog_scan p.close,#dialog_scan_exp p.close_exp {text-align: right;padding:0 10px;font-size: 15px;}
.scan_but,.scan_input{ position: relative;  text-align: left; width: 90%; padding-left:30px; padding-right: 30px;margin-top:15px;}
.scan_but{ }
.scan_but div{ margin-top:8px;}
#dialog_scan,#dialog_scan_exp{background-color: #fff;border: 1px solid rgba(0, 0, 0, 0.4);width: 1100px;height: 300px;left: 50%;padding: 5px;box-sizing: border-box;position: fixed !important;/* position: absolute; */top: 50%;z-index: 5;border-radius: 5px;display: none; transform: translate(-50%, -50%);}
/*编辑器*/
.bjq_title{ background-image: url(../images/bjq_dot1.png); background-position: center center; background-repeat: repeat-x;}
.bjq_title_txt{ font-size: 14px; height: 25px; padding:0px 20px; display:inline-block;background-color: #fff; background-image: url(../images/bjq_dot2.png); background-position: right center; background-repeat: no-repeat;}
.bjq_title_txt i{ margin-right: 8px;height: 20px; cursor: pointer;}
.bjq_content{padding: 10px 0px;}
#dialog_scan_exp p.close_exp:hover {color:#444;cursor:pointer}

.bkleft, .bkleft1 {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
    height: 527px;
	width: 380px;
	margin-left: 28px;
	margin-right: 10px;
}
.installbarT {
    border-bottom: 1px solid #e9e9e9;
    height: 45px;
    line-height: 45px;
    padding-left: 24px;
}
.name-p {
    color: #7a7a7a;
    line-height: 35px;
    margin: 0 0 0 22px;
    width: 100%;
}
.name-input {
    margin: 8px 0 10px 22px;
    width: 100%;
}
.bkleri {
    overflow: auto;
}
.bkleri {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
    height: 527px;
    margin: 0;
    position: relative;
    width: 636px;
}
.progressDiv {
    height: 30px;
    margin: 15px auto 0;
    position: relative;
    width: 95%;
}
.bigContent {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    display: none;
    height: 45%;
    margin: 10px auto 0;
    min-height: 340px;
    width: 95%;
}
.cmd-title {
    display: inline-block;
    margin-top: 10px;
    text-align: right;
    width: 20%;
}
.notextarea {
    background-color: #efefef;
    border: medium none;
    color: red;
    height: 100%;
    margin-bottom: 10px;
    min-height: 300px;
    resize: none;
    width: 99%;
}
.leftinput{
	width: 60%;
}
.tips_html{
	display: inline-block; 
	width: 60%;
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
	margin-left:88px;
	color:#999;
}
.tips_html2{
	display: inline-block; 
	margin-top:5px;
	overflow: hidden; 

	color:#999;
}
.d5{width:185px;position:relative; }
.d5 input, .d5 button {
  outline: none;
  background: transparent;
}
.d5 input {
  width: 100%;
  height: 36px;
  padding-left: 7px;
  border: 2px solid #d5dae0;
  border-radius: 5px;
}
.d5 button {
  border: none;
  height: 36px;
  width: 36px;
  position: absolute;
  top: 0px;
  right: -5px;
  cursor: pointer;
}
.d5 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #3e5772;
}
.d5 input:focus {
  border-color: #b5bdc9
}

 .loading{
           
            height: 15px;
            margin: 0 auto;
            
        }
        .loading span{
            display: inline-block;
            width: 15px;
            height: 100%;
            margin-right: 5px;
            border-radius: 50%;
            background: #3e5772;
            -webkit-animation: load 1.04s ease infinite;
        }
        .loading span:last-child{
            margin-right: 0px; 
        }
        @-webkit-keyframes load{
            0%{
                opacity: 1;
                -webkit-transform: scale(1.3);
            }
            100%{
                opacity: 0.2;
                -webkit-transform: scale(.3);
            }
        }
        .loading span:nth-child(1){
            -webkit-animation-delay:0.13s;
        }
        .loading span:nth-child(2){
            -webkit-animation-delay:0.26s;
        }
        .loading span:nth-child(3){
            -webkit-animation-delay:0.39s;
        }
        .loading span:nth-child(4){
            -webkit-animation-delay:0.52s;
        }
        .loading span:nth-child(5){
            -webkit-animation-delay:0.65s;
        }

.loadEffect{
            width: 100px;
            height: 100px;
            position: relative;
            margin: 0 auto;
            
        }
        .loadEffect span{
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #3e5772;
            position: absolute;
            -webkit-animation: load 1.04s ease infinite;
        }
        @-webkit-keyframes load{
            0%{
                -webkit-transform: scale(1.2);
                opacity: 1;
            }
            100%{
                -webkit-transform: scale(.3);
                opacity: 0.5;
            }
        }
        .loadEffect span:nth-child(1){
            left: 0;
            top: 50%;
            margin-top:-10px;
            -webkit-animation-delay:0.13s;
        }
        .loadEffect span:nth-child(2){
            left: 14px;
            top: 14px;
            -webkit-animation-delay:0.26s;
        }
        .loadEffect span:nth-child(3){
            left: 50%;
            top: 0;
            margin-left: -10px;
            -webkit-animation-delay:0.39s;
        }
        .loadEffect span:nth-child(4){
            top: 14px;
            right:14px;
            -webkit-animation-delay:0.52s;
        }
        .loadEffect span:nth-child(5){
            right: 0;
            top: 50%;
            margin-top:-10px;
            -webkit-animation-delay:0.65s;
        }
        .loadEffect span:nth-child(6){
            right: 14px;
            bottom:14px;
            -webkit-animation-delay:0.78s;
        }
        .loadEffect span:nth-child(7){
            bottom: 0;
            left: 50%;
            margin-left: -10px;
            -webkit-animation-delay:0.91s;
        }
        .loadEffect span:nth-child(8){
            bottom: 14px;
            left: 14px;
            -webkit-animation-delay:1.04s;
        }